<div id="mainBody">
  <div class="container">
    <hr class="soften">
    <h1>Visit us</h1>
    <hr class="soften">	
    <div class="row">

      <div class="col-sm-4">
      <h4>Contact Details</h4>
      <p>	Hitachi consulting,<br> Gachibowli, Hyderabad ,India
        <br><br>
        xyz@xyz.com<br>
        ﻿Tel 123-456-6780<br>
        Fax 123-456-5679<br>
        web:shoppingcart.com
      </p>		
      </div>
        
      <div class="col-sm-4">
      <h4>Opening Hours</h4>
        <h5> Monday - Friday</h5>
        <p>09:00am - 09:00pm<br><br></p>
        <h5>Saturday</h5>
        <p>09:00am - 07:00pm<br><br></p>
        <h5>Sunday</h5>
        <p>12:30pm - 06:00pm<br><br></p>
      </div>
      <div class="col-sm-4">
      <h4>Email Us</h4>
      <form class="form-horizontal" >
          <fieldset >
            <div class="control-group">             
                <input  placeholder="name" class="form-control ng-pristine ng-valid ng-touched" required type="text">             
            </div><br>
         <div class="control-group">             
                <input placeholder="email" class="form-control ng-pristine ng-valid ng-touched" required type="email" >            
            </div><br>
         <div class="control-group">             
                <input  placeholder="subject" class="form-control ng-pristine ng-valid ng-touched" required type="text">            
            </div><br>
            <div class="control-group">
                <textarea rows="3" id="textarea" class="form-control ng-pristine ng-valid ng-touched"></textarea>             
            </div><br>  
              <button class="btn btn-large" type="submit">Send Messages</button>  
          </fieldset>
        </form>
      </div>
    </div>
    <br>
    <div class="row">
    <div class="col-sm-12">
        <iframe style="width:100%; height:300; border: 0px" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30454.80281194798!2d78.339292!3d17.4189679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9399cbbf1d93%3A0x222db899cd1ed42c!2sHitachi+Consulting!5e0!3m2!1sen!2sin!4v1539765248210" ></iframe>
    
    <small><a href="https://www.google.co.in/maps/place/Hitachi+Consulting/@17.4197366,78.3412823,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb9399cbbf1d93:0x222db899cd1ed42c!8m2!3d17.4197366!4d78.343471?hl=en-IN" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
    </div>
  </div>
  </div>



