.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-brand {
  background-color: #f2f2f2;
  padding: 10px 0px;
  height: 50px;
  margin-bottom: 0px;
}

/* form validatiion */
.input.ng-invalid.ng-touched {
  border-color: red;
}
.asterisc-required {
  color: red;
  font-weight: bold;
}
/* Product CSS styles*/
.card {
  float: left;
  width: 22.5%;
  height: 400px;
  margin: 15px;
}
.card img {
  width: 50%;
  height: 200px;
  padding: 0;
  margin: 0 25%;
}
.card-body {
  text-align: center;
  position: relative;
  bottom: 2em;
}
.carousel-inner img {
  width: 100%;
  height: 300px;
}
#demo {
  background: red;
  height: 300px;
}
.fluid-container {
  width: 95%;
  margin: 0 auto;
}
